body, html{
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 300px;
  max-width: 1440px;

}

*{
  font-family: 'Comfortaa', cursive;
  color: #161853;
}

@media (min-width: 300px) and (max-width: 767px) {
  #textView{
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 572px;
    display: block;
  }

  #head{
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: #EADEDE;
  }

  #recName{
    position: relative;
    top: 5px;
    left: 4px;
    margin-left: 8px;
    width: 100px;
    padding: 2px 4px;
    display: inline-block;
  }

  .exitChat{
    position: absolute;
    top: 10%;
    left: 80%;
    width: 20%;
    padding: 18px auto;
    display: inline-block;
  }
  #exitChatBtn{
    border-radius: 20px;
    border: 0.11px solid black;
    padding: 4px 6px;
    height: 40px;
    margin: 0;
    background-color: white;
    padding: 2px 18px;
    border: 0;


  }

  #message{
    position: absolute;
    top: 10%;
    height: 80%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
  }




  #sendText{
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: black;
  }
  #messageBar{
    position: relative;
    top: 12px;
    left: 8px;
    width: 70%;
    height: 30px;
    margin-left: 5px;
    padding: 2px 8px;
    border: 0;
    border-radius: 20px;

  }


  #sendTxt{
    position: absolute;
    top: 12px;
    left: 80%;
    width: 18%;
    height: 30px;
    margin: 0;
    padding: 2px 18px;
    border: 0;
    border-radius: 20px;
  }



  #messagesList{
    position: relative;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  #recBubble{
    position: relative;
    left: 3%;
    width: 30%;
    height: auto;
    font-size: 12px;
    padding: 6px;
    display: block;
    background-color: #C89595;
    border-radius: 20px 20px 20px 0;
    margin: 16px 0;
    word-wrap: break-word;
  }

   #recMessageTime{
     font-size: 9px;
     float: right;
     font-weight: bolder;
   }
   #senMessageTime{
     font-size: 9px;
     float: right;
     font-weight: bolder;
   }

  #senBubble{
    position: relative;
    left: 65%;
    border-radius: 20px 20px 0 20px;
    width: 30%;
    font-size: 12px;
    display: block;
    padding: 6px;
    background-color: #FACDF0;
    margin: 16px 0;
    word-wrap: break-word;
    height: auto;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  #textView{
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 762px;
    display: block;
  }

  #head{
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: #EADEDE;
  }

  #recName{
    position: relative;
    top: 5px;
    left: 4px;
    margin-left: 8px;
    width: 100px;
    padding: 2px 4px;
    display: inline-block;
  }

  .exitChat{
    position: absolute;
    top: 20%;
    left: 80%;
    width: 20%;
    padding: 18px auto;
    display: inline-block;
  }
  #exitChatBtn{
    border-radius: 20px;
    border: 0.11px solid black;
    padding: 4px 6px;
    height: 40px;
    margin: 0;
    background-color: white;
    padding: 2px 18px;
    border: 0;


  }

  #message{
    position: absolute;
    top: 10%;
    height: 80%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
  }




  #sendText{
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: black;
  }
  #messageBar{
    position: relative;
    top: 12px;
    left: 8px;
    width: 70%;
    height: 30px;
    margin-left: 5px;
    padding: 2px 8px;
    border: 0;
    border-radius: 20px;

  }


  #sendTxt{
    position: absolute;
    top: 12px;
    left: 80%;
    width: 18%;
    height: 30px;
    margin: 0;
    padding: 2px 18px;
    border: 0;
    border-radius: 20px;
  }



  #messagesList{
    position: relative;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  #recBubble{
    position: relative;
    left: 3%;
    width: 30%;
    height: auto;
    font-size: 12px;
    padding: 6px;
    display: block;
    background-color: #C89595;
    border-radius: 20px 20px 20px 0;
    margin: 16px 0;
    word-wrap: break-word;
  }

   #recMessageTime{
     font-size: 9px;
     float: right;
     font-weight: bolder;
   }
   #senMessageTime{
     font-size: 9px;
     float: right;
     font-weight: bolder;
   }

  #senBubble{
    position: relative;
    left: 65%;
    border-radius: 20px 20px 0 20px;
    width: 30%;
    font-size: 12px;
    display: block;
    padding: 6px;
    background-color: #FACDF0;
    margin: 16px 0;
    word-wrap: break-word;
    height: auto;
  }

}

@media (min-width: 1024px) and (max-width: 1440px) {
  #textView{
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 1040px;
    display: block;
  }

  #head{
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: #EADEDE;
  }

  #recName{
    position: relative;
    top: 5px;
    left: 4px;
    margin-left: 8px;
    width: 100px;
    padding: 2px 4px;
    display: inline-block;
  }

  .exitChat{
    position: absolute;
    top: 20%;
    left: 90%;
    width: 20%;
    padding: 18px auto;
    display: inline-block;
  }
  #exitChatBtn{
    border-radius: 20px;
    border: 0.11px solid black;
    padding: 4px 6px;
    height: 40px;
    margin: 0;
    background-color: white;
    padding: 2px 18px;
    border: 0;


  }

  #message{
    position: absolute;
    top: 10%;
    height: 80%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
  }




  #sendText{
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: black;
  }
  #messageBar{
    position: relative;
    top: 12px;
    left: 8px;
    width: 70%;
    height: 30px;
    margin-left: 5px;
    padding: 2px 8px;
    border: 0;
    border-radius: 20px;

  }


  #sendTxt{
    position: absolute;
    top: 12px;
    left: 80%;
    width: 18%;
    height: 30px;
    margin: 0;
    padding: 2px 18px;
    border: 0;
    border-radius: 20px;
  }



  #messagesList{
    position: relative;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  #recBubble{
    position: relative;
    left: 3%;
    width: 30%;
    height: auto;
    font-size: 12px;
    padding: 6px;
    display: block;
    background-color: #C89595;
    border-radius: 20px 20px 20px 0;
    margin: 16px 0;
    word-wrap: break-word;
  }

   #recMessageTime{
     font-size: 9px;
     float: right;
     font-weight: bolder;
   }
   #senMessageTime{
     font-size: 9px;
     float: right;
     font-weight: bolder;
   }

  #senBubble{
    position: relative;
    left: 65%;
    border-radius: 20px 20px 0 20px;
    width: 30%;
    font-size: 12px;
    display: block;
    padding: 6px;
    background-color: #FACDF0;
    margin: 16px 0;
    word-wrap: break-word;
    height: auto;
  }

}
